body { padding: 25px 0; }
.tab { display: none; }
.tab.active { display: block; }
.table { margin-bottom: 0px; }
.table tr:first-child td { border-top: none; padding-top: 10px; }
.table tr:last-child td { padding-bottom: 10px; }
h3 { margin: 0px !important; }
#title, .i18_support { color: green; font-size: 30px; font-weight: bold; }
#title:hover { color: blue; }
.i18_support { color: #000; font-size: 18px; }
#message { z-index: 999; color: #000; margin: 5px; position: fixed; top: 0; right: 0; padding: 5px; font-weight: bold; }
.sshidden, #message { display: none; }
.listentry, .clear { clear: both; }
.listentry { border-bottom: 1px solid #eee; padding: 2px; font-weight: bold; }
.listentry:hover { background-color: #f5f5f5; }
.right { float: right; }
.entryoptions { float: right; font-size: 11px; }
.list, textarea { min-height: 300px; max-height: 300px; overflow-y: auto; }
.fp-list { min-height: 100px; max-height: 100px; }
.fp-list .entryoptions { padding-top: 3px; }
.sectionheading, .sectionheading h4 { margin-bottom: 0px; }
.row-offcanvas { display: none; }