/* Global */
html { width: 575px; }
html, body { word-wrap: break-word; }
html, body, td, th { font-family: arial, sans-serif; }
body { margin: 0px 5px; padding: 0px; font-size: 100%; background-color: #fff; }
#container, table { width: 100%; }
#container { font-size: 0.75em; }
td, th { text-align: left; }
td { vertical-align: top; }
th { padding-bottom: 5px; }
#header { width: 100%; padding: 5px 0; margin-bottom: 10px; position: fixed; background-color: #fff; padding-left: 5px; margin-left: -5px; border-bottom: 2px solid #ccc; }
#header a#pop_webstore { font-weight: bold; color: #000; text-decoration: none; }
#header a#pop_webstore:hover { text-decoration: underline; }
#header div { float: right; margin-right: 7px; }
#pop_close { margin-right: 5px; }
#parent { padding-bottom: 5px; }
table { padding-top: 35px; }

/* Tab Options */
#parent { text-align: right; padding-right: 3px; }
#parent > div { border-bottom: none; display: inline-block; }

/* Resource List */
.thirds { vertical-align: top; }
.thirditem span a, fpitem span a { text-decoration: none; font-weight: bold; }
.thirditem span a:hover, .fpitem span a:hover { text-decoration: underline; }
.allowed, .blocked, .domainname { padding: 0 5px; }
.thirds { padding-top: 5px; padding-right: 5px; }
.thirditem, .fpitem, .fpcat, .fphead {
	clear: both;
	border-bottom: 1px solid #eee;
	padding: 5px 0;
}
.fpcat {
	padding: 0;
}
.thirditem, .fpitem, .fphead { padding-left: 7px; }
.fphead {
	border-bottom: none;
	border-right: 3px solid #ccc;
	background-color: #eee;
}
.chevron::before {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 0.45em;
	float: right;
	margin-right: 10px;
	transform: rotate(-45deg);
	top: 0.45em;
}
.chevron.uparrow::before {
	transform: rotate(135deg);
	top: 0.1em;
}
.fpoptions { display: none; }
.thirditem:hover {
	background-color: #f0f0f0;
}
.fpitem:hover {
	background-color: #f5f5f5;
}
.fphead:hover {
	background-color: #ccc;
}
.wot { padding-right: 4px; }
.wot a { color: #555; text-decoration: none; }
#currentdomain .wot a { color: #fff; }
.wot a:hover { text-decoration: underline; }
.choices { float: right; }
.domainoutput {
	max-width: 536px;
	display: inline-block;
}
.domainname.domainoutput {
	max-width: 531px;
}

/* Footer */
#bottom { padding-top: 10px; padding-bottom: 5px; }
#credit { text-align: right; padding-right: 5px; font-weight: bold; font-size: 0.92em; color: #555; }
#credit a, #pop_options { text-decoration: underline; }
#credit a:hover, #pop_options:hover { text-decoration: none; }
#closebtn { width: 5px; text-align: right; }

/* Misc */
hr { border: 0; border-top: 1px solid #eeeeee; }
.bolded, #pop_options, #pop_log { font-weight: bold; }

/* Boxes */
.box:hover, .fphead {
	cursor: hand;
	cursor: pointer;
}
.box {
	cursor: default;
	font-size: 0.92em;
	font-weight: bold;
	text-align: center;
	min-width: 12%;
	outline: 0;
	padding: 8px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	margin: 2px;
}
span.box {
	padding: 0 8px;
	margin: 0;
	height: 16px;
	line-height: 16px;
	margin-left: 2px;
}
.box:hover {
	text-decoration: underline;
}
.selected {
	border: 1px solid #000 !important;
	text-decoration: line-through !important;
	background-color: #999 !important;
	background-image: none !important;
}
.box1, .allowed {
	border: 1px solid #29691D;
	color: white;
	background-color: #3D9400;
	background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
	background-image: -moz-linear-gradient(top,#3d9400,#398a00);
	background-image: -ms-linear-gradient(top,#3d9400,#398a00);
	background-image: -o-linear-gradient(top,#3d9400,#398a00);
	background-image: linear-gradient(top,#3d9400,#398a00);
}
.box1:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.box1:focus {
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 0 1px #fff;
	-o-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #3D9400;
	outline: 0 transparent;
	border: 1px solid white;
	border: 1px solid transparent;
}
.box1:hover {
	border: 1px solid #2D6200;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #368200;
	background-image: -webkit-linear-gradient(top,#3d9400,#368200);
	background-image: -moz-linear-gradient(top,#3d9400,#368200);
	background-image: -ms-linear-gradient(top,#3d9400,#368200);
	background-image: -o-linear-gradient(top,#3d9400,#368200);
	background-image: linear-gradient(top,#3d9400,#368200);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box2, .blocked {
	background-color: #a60000;
	border: 1px solid #7a0000;
	color: white;
	background-image: -webkit-linear-gradient(top,#a60000,#990000);
	background-image: -moz-linear-gradient(top,#a60000,#990000);
	background-image: -ms-linear-gradient(top,#a60000,#990000);
	background-image: -o-linear-gradient(top,#a60000,#990000);
	background-image: linear-gradient(top,#a60000,#990000);
}
.box2:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.box2:focus {
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 0 1px #fff;
	-o-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #a60000;
	outline: 0 transparent;
	border: 1px solid white;
	border: 1px solid transparent;
}
.box2:hover {
	border: 1px solid #7a0000;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #940000;
	background-image: -webkit-linear-gradient(top,#a60000,#940000);
	background-image: -moz-linear-gradient(top,#a60000,#940000);
	background-image: -ms-linear-gradient(top,#a60000,#940000);
	background-image: -o-linear-gradient(top,#a60000,#940000);
	background-image: linear-gradient(top,#a60000,#940000);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box3 {
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	color: white;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
}
.box3:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.box3:focus {
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 0 1px #fff;
	-o-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #4D90FE;
	outline: 0 transparent;
	border: 1px solid white;
	border: 1px solid transparent;
}
.box3:hover {
	border: 1px solid #2F5BB7;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -moz-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -ms-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -o-linear-gradient(top,#4D90FE,#357AE8);
	background-image: linear-gradient(top,#4D90FE,#357AE8);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box4 {
	background-color: #444;
	border: 1px solid #333333;
	color: white;
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -ms-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(top,#444,#222);
}
.box4:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.box4:focus {
	-moz-box-shadow: inset 0 0 0 1px #000;
	-ms-box-shadow: inset 0 0 0 1px #000;
	-o-box-shadow: inset 0 0 0 1px #000;
	-webkit-box-shadow: inset 0 0 0 1px #000;
	box-shadow: inset 0 0 0 1px #000;
	outline: 1px solid #EFEFEF;
	outline: 0 transparent;
	border: 1px solid black;
	border: 1px solid transparent;
}
.box4:hover {
	border: 1px solid #222222;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #444;
	background-image: -webkit-linear-gradient(top,#222,#444);
	background-image: -moz-linear-gradient(top,#222,#444);
	background-image: -ms-linear-gradient(top,#222,#444);
	background-image: -o-linear-gradient(top,#222,#444);
	background-image: linear-gradient(top,#222,#444);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box5, .domainname {
	clear: both;
	width: auto;
	margin-top: 5px;
	background-color: #444;
	border: 1px solid #333333;
	color: white;
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -ms-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(top,#444,#222);
}
.box5:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.box5:focus {
	-moz-box-shadow: inset 0 0 0 1px #000;
	-ms-box-shadow: inset 0 0 0 1px #000;
	-o-box-shadow: inset 0 0 0 1px #000;
	-webkit-box-shadow: inset 0 0 0 1px #000;
	box-shadow: inset 0 0 0 1px #000;
	outline: 1px solid #EFEFEF;
	outline: 0 transparent;
	border: 1px solid black;
	border: 1px solid transparent;
}
.box5:hover {
	border: 1px solid #222222;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #444;
	background-image: -webkit-linear-gradient(top,#222,#444);
	background-image: -moz-linear-gradient(top,#222,#444);
	background-image: -ms-linear-gradient(top,#222,#444);
	background-image: -o-linear-gradient(top,#222,#444);
	background-image: linear-gradient(top,#222,#444);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Temp. Permissions */
.allowsession, .prevoke, .clearglobaltemp {
	clear: both;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}